src/test/resources/clientId.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="clientId" type="xs:string"/>
  <xs:element name="procedure" type="procedureType"/>
  <xs:element name="nationalId" type="xs:int"/>
  <xs:element name="firstName" type="xs:string"/>
  <xs:element name="lastName" type="xs:string"/>
  <xs:element name="address1" type="xs:string"/>
  <xs:element name="nationality" type="xs:string"/>
  <xs:element name="gender" type="xs:string"/>
  <xs:element name="dateOfBirth" type="xs:date"/>
  <xs:complexType name="procedureType">
    <xs:sequence>
      <xs:element type="xs:string" name="code"/>
      <xs:element type="xs:string" name="admission"/>
      <xs:element type="xs:string" name="department"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>