src/test/resources/Envelope.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Envelope" type="soapenv:EnvelopeType" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"/>
  <xs:complexType name="BodyType">
    <xs:sequence>
      <xs:element ref="ns:admitSubjectResponse" xmlns:ns="http://www.mule-health.com/SOA/message/1.0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EnvelopeType">
    <xs:sequence>
      <xs:element type="soapenv:BodyType" name="Body" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>