src/test/resources/Episode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.mule-health.com/SOA/model/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Episode" type="ns:EpisodeType" xmlns:ns="http://www.mule-health.com/SOA/model/1.0"/>
  <xs:element name="Bill" type="ns:BillType" xmlns:ns="http://www.mule-health.com/SOA/model/1.0"/>
  <xs:complexType name="EpisodeType">
    <xs:sequence>
      <xs:element ref="episodeId"/>
      <xs:element type="xs:long" name="PatientId"/>
      <xs:element ref="admission"/>
      <xs:element ref="startDate"/>
      <xs:element ref="endDate"/>
      <xs:element ref="care"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BillType">
    <xs:sequence>
      <xs:element ref="costPerNight"/>
      <xs:element ref="initialStayEstimate"/>
      <xs:element ref="runningTotal"/>
      <xs:element ref="status"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>